<%
  title = t('session.new.title')
  provide(:title, title)
%>

<div class="container container-content container-content-narrow">
  <h1><%= title %></h1>
  <%= form_with(scope: :session, url: login_path, local: true) do |field| %>
    <div class="form-group row">
      <div class="col-12">
        <%= field.label :login, label: "Email or Username", class: "form-label" %>
        <%= field.text_field :login, class: "form-control" %>
      </div>

      <div class="col-12">
        <%= field.label :password, class: "form-label" %>
        <%= field.password_field :password, class: "form-control" %>
      </div>

      <div class="form-check form-check-inline">
        <%= field.label :remember_me, class: "form-check-label" do %>
          <%= field.check_box :remember_me, class: "form-check-input form-check-remember-me" %>
          <span> Remember me on this browser </span>
        <% end %>
      </div>


      <div class="col-12">
        <%= field.submit "Login", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <p>
    New user? <%= link_to "Sign up now!", signup_path %>
  </p>
</div>
