<%
  title = t('users.new.title')
  provide(:title, title)
%>

<div class="container container-content container-content-narrow">
  <h1><%= title %></h1>
  <%= form_with(model: @user, local: true) do |field| %>
    <div class="form-group row">
      <%= render "form" %>
      <div class="col-12">
        <%= field.submit "Create my account", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <p>
    Already have an account? <%= link_to "Login here", login_path %>
  </p>
</div>
